In [1]:
import time
import datetime
import re
import pandas as pd

In [50]:
now_1 = datetime.datetime.now()
print(now_1.strftime("%y-%m-%d %H:%M:%S.%f"))
time.sleep(5)
now_2 = datetime.datetime.now()
print(now_2.strftime("%y-%m-%d %H:%M:%S.%f"))

time_delta_2 = abs(now_1 - now_2)
print(time_delta_2)
print(time_delta_2.seconds)
print(time_delta_2.microseconds)

19-11-29 11:30:13.411489
19-11-29 11:30:18.426852
0:00:05.015363
5
15363

In [56]:
print("Vous avez mis",time_delta_2.seconds,"secondes pour répondre")

Vous avez mis 5 secondes pour répondre

In [57]:
int(2.6)

2

In [73]:
name = "12 34- question 34"

In [74]:
digit_search=re.search('\d+', name).group()
print(digit_search)

12

In [24]:
data_ = pd.read_csv("reponses_candidats.txt")
data_

    id_question candidat            reponse  time_min  time_s
0             2   jerome               azzz         0     1.0
1             3   jerome          azaeaeaee         0     1.0
2             1   jerome               qqqq         0     1.0
3             4   ouarda          zefijijio         0     2.0
4             3   ouarda     zefl,zefml,fml         0     1.0
5             1   ouarda  eeffzezefefzezeef         0     5.0
6             1    Allal              print         0     3.0
7             2    Allal                 %2         0     7.0
8             4    Allal                min         0     3.0
9             2  jerome1               aasa         0     1.0
10            4  jerome1               rrgg         0     2.0
11            1  jerome1             rrrrrr         0     1.0
12            2  jerome2                 az         0     1.0
13            1  jerome2               zaaz         0     0.0
14            4  jerome2               azaz         0     0.0
15            4  jerome6              zeeze         0     1.0
16            2  jerome6       zezezezezeze         0     1.0
17            3  jerome6             asassa         0     1.0
18            1   jerome              zzdzd         0     0.0
19            3   jerome              zddzd         0     0.0
20            4   jerome             zddzzd         0     0.0

In [32]:
candidat_mean_list=[]
candidat_list = data_["candidat"]
candidat_list = list(dict.fromkeys(candidat_list))

for candidat_name in candidat_list:
    data_candidat = data_.loc[data_['candidat'] == candidat_name]
    candidat_mean_list.append(data_candidat["time_s"].mean())
    
print(candidat_mean_list)

[0.5, 2.6666666666666665, 4.333333333333333, 1.3333333333333333, 0.3333333333333333, 1.0]

In [35]:
for i in range(len(candidat_list)):
    print("Le candidat",candidat_list[i],"a mis en moyenne",candidat_mean_list[i],"secondes pour répondre\n")

Le candidat jerome a mis en moyenne 0.5 secondes pour répondre

Le candidat ouarda a mis en moyenne 2.6666666666666665 secondes pour répondre

Le candidat Allal a mis en moyenne 4.333333333333333 secondes pour répondre

Le candidat jerome1 a mis en moyenne 1.3333333333333333 secondes pour répondre

Le candidat jerome2 a mis en moyenne 0.3333333333333333 secondes pour répondre

Le candidat jerome6 a mis en moyenne 1.0 secondes pour répondre